*{
    padding: 0;
    margin: 0;
}
.container {
    background: lightcoral;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 70vw;
    height: 80vh;
    background: lightslategray;
    overflow: hidden;
}

.leftside {
    background-image: url('/static/bg.jpg');
    width: 30%;
    height: 100%;
    background-size: cover;
    float: left;
}

.right_side {
    float: left;
    padding: 3% 0 0 3%;
    width: 65%;
    height: 100%;
}

.weather__container{
    width: 100%;
    height: 50%;
    margin: 20px 0;
    padding: 10px 0;
    box-sizing: border-box;
    letter-spacing: .5px;;
    background: white;
}
.mx_auto {
    margin: 0 auto;
    text-align: center;
}

.mx_auto p {
    margin: 2%;
}

.force_center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list_wrapper {
    list-style: none;
    padding-top: 20px;
    padding-left: 20px;
}
.list_item {
    display: inline-block;
}
.list_item a {
    margin: 10px;
    font-size: 16px;
}

button {
    min-width: 50px;
    min-height: 25px;
}